name: Sysdig Build & Scan

on: [push, workflow_dispatch]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build the Vote Image
      run: docker build -t example-voting-app-vote:latest ./vote

    # REPLACED: We are running the scanner directly to avoid wrapper errors
    - name: Scan Image Manually
      run: |
        docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
        quay.io/sysdig/secure-inline-scan:2 \
        --sysdig-url https://us4.app.sysdig.com \
        --sysdig-token ${{ secrets.SECURE_API_TOKEN }} \
        example-voting-app-vote:latest
