name: Sysdig Build & Scan

on: [push, workflow_dispatch]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build the Vote Image
      run: docker build -t example-voting-app-vote:latest ./vote

    - name: Scan Image with Sysdig
      uses: sysdiglabs/scan-action@v5
      with:
        image-tag: example-voting-app-vote:latest
        sysdig-secure-token: ${{ secrets.SECURE_API_TOKEN }}
        sysdig-secure-url: https://us4.app.sysdig.com
        stop-on-failed-policy: false
        input-type: docker-daemon
